<footer class="section__educacion">
    <div class="section__div">
      <h2>IDIOMAS</h2>
      <p class="marging">Español (Nativo)</p>
      <p class="marging">Ingles (nivel inicial)</p>
  
      <h2 class="marging">EDUCACIÓN</h2>
      <h3 class="marging">Ingenieria en sistemas</h3>
      <p class="marging">Universidad arturo jauretche / Estudiante</p>
      <h3 class="marging">Tenicatura en Seguridad Publica</h3>
      <p class="marging">Escuela Juan Vucetich</p>
    </div>
  
    <div>
      <h2>HABILIDADES</h2>
      <div class="habilidades">
          <p class="marginButton">JavaScript</p>
          <div class="progress">
            <div class="progress-bar" style="width:75%;">
                <span class="progress-bar-text">75%</span>
            </div>
        </div>
          <p class="marginButton">Typescript</p>
          <div class="progress">
            <div class="progress-bar" style="width:80%;">
                <span class="progress-bar-text">80%</span>
            </div>
        </div>
          <p class="marginButton">Bootstrap</p>
          <div class="progress">
            <div class="progress-bar" style="width:100%;">
                <span class="progress-bar-text">100%</span>
            </div>
        </div>
          <p class="marginButton">Git</p>
          <div class="progress">
            <div class="progress-bar" style="width:95%;">
                <span class="progress-bar-text">95%</span>
            </div>
        </div>
          <p class="marginButton">GitHub</p>
          <div class="progress">
            <div class="progress-bar" style="width:95%;">
                <span class="progress-bar-text">95%</span>
            </div>
        </div>
          <p class="marginButton">Sass</p>
          <div class="progress">
            <div class="progress-bar" style="width:80%;">
                <span class="progress-bar-text">80%</span>
            </div>
        </div>
          <p class="marginButton">Css</p>
          <div class="progress">
            <div class="progress-bar" style="width:90%;">
                <span class="progress-bar-text">90%</span>
            </div>
        </div>
      </div>
    </div>
  </footer>
