
<hr>
<section class="padding">
<h2>PERFIL</h2>
<p>Soy un desarrollador web apasionado con habilidades en JavaScript, Bootstrap, Sass, GitHub. Html, Css y Typescript.
Estoy en constante aprendizaje y actualmente estoy explorando el framework angular para mejorar aún más mis
habilidades en el desarrollo web. Siempre estoy en busca de nuevos desafíos y oportunidades para crecer en mi carrera
como desarrollador.</p>
</section>

<hr>

<section class="contact">
<div class="contact__Div">
 <h2>CONTACTO</h2>
 <div class="center">
   <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="30" height="30"
     viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
     stroke-linejoin="round">
     <path stroke="none" d="M0 0h24v24H0z" fill="none" />
     <path
       d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
   </svg> 011-25592688
 </div>

 <div class="center">
   <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="30" height="30"
     viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
     stroke-linejoin="round">
     <path stroke="none" d="M0 0h24v24H0z" fill="none" />
     <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
     <path d="M3 7l9 6l9 -6" />
   </svg> jonathan621924@gmail.com
 </div>

 <div class="center">
   <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin-filled" width="30" height="30"
     viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
     stroke-linejoin="round">
     <path stroke="none" d="M0 0h24v24H0z" fill="none" />
     <path
       d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z"
       stroke-width="0" fill="currentColor" />
   </svg> Calle 895 Numero 3935, San fransisco Solano, Quilmes.
 </div>
</div>

<div>
 <h2>REDES</h2>
 <div class="redes">
   <a href="https://www.linkedin.com/in/jonathan-adrian-aguirre-186baa260/">Linkedin</a>
   <a href="https://github.com/JonathanAguirre28">GitHub</a>
 </div>

</div>
</section>

<hr>

<section>
<div class="padding">
 <h2>SOBRE MI</h2>
 <P>Apasionado por el desarrollo, centrado en pulir y adquirir nuevas habilidades. Analítico y sumamente ordenado
   con mi rutina para alcanzar mis objetivos. Mi compromiso con el aprendizaje continuo me ha brindado una comprensión profunda de las últimas tendencias y prácticas en desarrollo web, y mi deseo de superarme constantemente se refleja en mi voluntad de asumir nuevos retos y oportunidades. Mi visión no se limita solo a la codificación, sino también a la creación de experiencias en línea impactantes y atractivas que cumplan con los estándares más exigentes.</P>
</div>

</section>

<hr>
