.container {
    background-color: rgb(185, 185, 185);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .photo {
    width: 150px;
    height: 150px;
  }
  
  .contact {
    display: flex;
    justify-content: space-evenly;
  
    &__Div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: round($number: 0);
    }
  }
  
  .center {
    display: flex;
    align-items: center;
  }
  
  .redes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }
  
  .section__educacion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
  }
  
  .progress {
    height: 15px;
    width: 300px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #e6f3fa;
  }
  
  .progress-bar {
    height: 100%;
    background: #a3a3a3;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
  }
  
  .progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
  }
  
  .habilidades {
    font-size: 15px;
  }
  
  .marginButton {
    margin-bottom: 1px;
  }
  
  .padding {
      padding: 10px;
  }
  
  .marging {
    margin: 30px 0;
  }
  
  .body {
      background-color: #cce7f5;
      max-width: 1200px; 
      // width: 100vw;
      margin: 0 auto; 
    }
    